.section {
    padding-top: 94px;
    padding-bottom: 94px;
    .section-title {
        margin: 0px;
        margin-bottom: 50px;

        color: var(--title-text-color);

        font-size: 36px;
        line-height: 1.16;
        text-align: center;

    }
}
