.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-color);

    .logo {
        margin-bottom: 20px;

        color: var(--white);
    }

    .address {
        font-style: normal;
    }

    &-contacts {
        margin: 0px;
        padding: 0px;

        .link {
            transition: color var(--transition-property);
            text-decoration: none;
            color: var(--footer-link-collor);
            line-height: 1.71;

            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }

        .item:not(:last-child) {
            margin-bottom: 9px;
        }

        .footer-adres-text {
            margin: 0px;

            color: var(--white);

            line-height: 1.71;
        }
    }

    &-box .text {
        margin: 0;
        margin-bottom: 20px;

        color: var(--white);

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &-list-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;

        .link {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color var(--transition-property);

            background-color: var(--icon-two-color);
            color: var(--white);

            &:hover,
            &:focus {
                background-color: var(--accent-color);
            }
        }

        .item:not(:last-child) {
            margin-right: 10px;
        }

        .icon {
            fill: currentColor;
        }
    }

    &-container {
        display: flex;
        align-items: baseline;
    }

    &-box {
        margin-left: 70px;
    }

}

.subscribe-email-input {
    margin-left: 93px;
}

.subscribe-text {
    display: block;
    margin: 0px;
    margin-bottom: 20px;

    color: var(--white);

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.subscribe-form {
    display: flex;
}

.subscribe-input {
    transition: border-color var(--transition-property);

    width: 358px;
    height: 50px;
    border: 1px solid var(--border-subscribe-color);
    border-radius: 4px;
    padding: 15px 16px;

    background-color: transparent;
    outline: transparent;
    color: var(--footer-link-collor);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    &:focus {
        border-color: var(--accent-color);
    }
    &::placeholder{
        color: var(--footer-link-collor);

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    }
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 50px;
    margin-left: 12px;
    border-radius: 4px;
    padding: 0px;
    border: 1px solid transparent;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    .button-img {
        margin-left: 10px;
        fill: var(--white);
    }
    &:hover{
        cursor: pointer;
    }
}