.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-color: var(--background-color);
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/Img.svg);
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: center;

    &__title {
        width: 696px;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

        color: var(--white);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    &__button {
        border: 1px solid transparent;
        padding: 10px 32px;
        display: inline-block;
        border-radius: 4px;
        min-width: 216px;

        background-color: var(--accent-color);
        color: var(--white);

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-decoration: none;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
    }
}