.list-logo {
    display: flex;
    margin: 0px;
    padding: 0px;

    .link {
        display: block;
        padding: 16px 32px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: border-color var(--transition-property), color var(--transition-property);

        color: var(--icon-color);

        &:hover,
        &:focus {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }

    }

    .item:not(:last-child) {
        margin-right: 30px;
    }

    .icon {
        fill: currentColor;
    }
}